.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

button {
  transition: all .5s ease;
}

button:hover {
  box-shadow: 0 0 3px #266366;
}

button:active, button:focus {
  outline: none;
}

button:active {
  transform: scale(.8);
  font-weight: bold;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border: 2px solid #26636693;
  padding: 10px 20px;
  color: #266366;
  
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}